AMSClient/src/conf/wsdl/localhost_8080/AMSWebService/AMSWebService 4.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="AMSWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/AMSWebService/AMSWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrievePatientByIc">
<part name="parameters" element="tns:retrievePatientByIc"/>
</message>
<message name="retrievePatientByIcResponse">
<part name="parameters" element="tns:retrievePatientByIcResponse"/>
</message>
<message name="PatientNotFoundException">
<part name="fault" element="tns:PatientNotFoundException"/>
</message>
<message name="createNewPatient">
<part name="parameters" element="tns:createNewPatient"/>
</message>
<message name="createNewPatientResponse">
<part name="parameters" element="tns:createNewPatientResponse"/>
</message>
<message name="retrieveDoctorEntityById">
<part name="parameters" element="tns:retrieveDoctorEntityById"/>
</message>
<message name="retrieveDoctorEntityByIdResponse">
<part name="parameters" element="tns:retrieveDoctorEntityByIdResponse"/>
</message>
<message name="DoctorNotFoundException">
<part name="fault" element="tns:DoctorNotFoundException"/>
</message>
<message name="doesPatientExistByIc">
<part name="parameters" element="tns:doesPatientExistByIc"/>
</message>
<message name="doesPatientExistByIcResponse">
<part name="parameters" element="tns:doesPatientExistByIcResponse"/>
</message>
<message name="patientLogin">
<part name="parameters" element="tns:patientLogin"/>
</message>
<message name="patientLoginResponse">
<part name="parameters" element="tns:patientLoginResponse"/>
</message>
<message name="InvalidLoginException">
<part name="fault" element="tns:InvalidLoginException"/>
</message>
<message name="patientAvailableAtTime">
<part name="parameters" element="tns:patientAvailableAtTime"/>
</message>
<message name="patientAvailableAtTimeResponse">
<part name="parameters" element="tns:patientAvailableAtTimeResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="retrieveAllDoctorEntities">
<part name="parameters" element="tns:retrieveAllDoctorEntities"/>
</message>
<message name="retrieveAllDoctorEntitiesResponse">
<part name="parameters" element="tns:retrieveAllDoctorEntitiesResponse"/>
</message>
<message name="doctorAvailableAtTime">
<part name="parameters" element="tns:doctorAvailableAtTime"/>
</message>
<message name="doctorAvailableAtTimeResponse">
<part name="parameters" element="tns:doctorAvailableAtTimeResponse"/>
</message>
<message name="createAppointmentEntity">
<part name="parameters" element="tns:createAppointmentEntity"/>
</message>
<message name="createAppointmentEntityResponse">
<part name="parameters" element="tns:createAppointmentEntityResponse"/>
</message>
<message name="CreateAppointmentException">
<part name="fault" element="tns:CreateAppointmentException"/>
</message>
<message name="deleteAppointmentEntityById">
<part name="parameters" element="tns:deleteAppointmentEntityById"/>
</message>
<message name="deleteAppointmentEntityByIdResponse">
<part name="parameters" element="tns:deleteAppointmentEntityByIdResponse"/>
</message>
<message name="DoctorRemoveAppointmentException">
<part name="fault" element="tns:DoctorRemoveAppointmentException"/>
</message>
<message name="PatientRemoveAppointmentException">
<part name="fault" element="tns:PatientRemoveAppointmentException"/>
</message>
<message name="retrieveAppointmentById">
<part name="parameters" element="tns:retrieveAppointmentById"/>
</message>
<message name="retrieveAppointmentByIdResponse">
<part name="parameters" element="tns:retrieveAppointmentByIdResponse"/>
</message>
<message name="AppointmentNotFoundException">
<part name="fault" element="tns:AppointmentNotFoundException"/>
</message>
<message name="retrieveAppointmentsByPatient">
<part name="parameters" element="tns:retrieveAppointmentsByPatient"/>
</message>
<message name="retrieveAppointmentsByPatientResponse">
<part name="parameters" element="tns:retrieveAppointmentsByPatientResponse"/>
</message>
<message name="fetchAppointmentsDoctor">
<part name="parameters" element="tns:fetchAppointmentsDoctor"/>
</message>
<message name="fetchAppointmentsDoctorResponse">
<part name="parameters" element="tns:fetchAppointmentsDoctorResponse"/>
</message>
<portType name="AMSWebService">
<operation name="retrievePatientByIc">
<input wsam:Action="http://ws.session.ejb/AMSWebService/retrievePatientByIcRequest" message="tns:retrievePatientByIc"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/retrievePatientByIcResponse" message="tns:retrievePatientByIcResponse"/>
<fault message="tns:PatientNotFoundException" name="PatientNotFoundException" wsam:Action="http://ws.session.ejb/AMSWebService/retrievePatientByIc/Fault/PatientNotFoundException"/>
</operation>
<operation name="createNewPatient">
<input wsam:Action="http://ws.session.ejb/AMSWebService/createNewPatientRequest" message="tns:createNewPatient"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/createNewPatientResponse" message="tns:createNewPatientResponse"/>
</operation>
<operation name="retrieveDoctorEntityById">
<input wsam:Action="http://ws.session.ejb/AMSWebService/retrieveDoctorEntityByIdRequest" message="tns:retrieveDoctorEntityById"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/retrieveDoctorEntityByIdResponse" message="tns:retrieveDoctorEntityByIdResponse"/>
<fault message="tns:DoctorNotFoundException" name="DoctorNotFoundException" wsam:Action="http://ws.session.ejb/AMSWebService/retrieveDoctorEntityById/Fault/DoctorNotFoundException"/>
</operation>
<operation name="doesPatientExistByIc">
<input wsam:Action="http://ws.session.ejb/AMSWebService/doesPatientExistByIcRequest" message="tns:doesPatientExistByIc"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/doesPatientExistByIcResponse" message="tns:doesPatientExistByIcResponse"/>
</operation>
<operation name="patientLogin">
<input wsam:Action="http://ws.session.ejb/AMSWebService/patientLoginRequest" message="tns:patientLogin"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/patientLoginResponse" message="tns:patientLoginResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/AMSWebService/patientLogin/Fault/InvalidLoginException"/>
</operation>
<operation name="patientAvailableAtTime">
<input wsam:Action="http://ws.session.ejb/AMSWebService/patientAvailableAtTimeRequest" message="tns:patientAvailableAtTime"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/patientAvailableAtTimeResponse" message="tns:patientAvailableAtTimeResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/AMSWebService/patientAvailableAtTime/Fault/ParseException"/>
</operation>
<operation name="retrieveAllDoctorEntities">
<input wsam:Action="http://ws.session.ejb/AMSWebService/retrieveAllDoctorEntitiesRequest" message="tns:retrieveAllDoctorEntities"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/retrieveAllDoctorEntitiesResponse" message="tns:retrieveAllDoctorEntitiesResponse"/>
</operation>
<operation name="doctorAvailableAtTime">
<input wsam:Action="http://ws.session.ejb/AMSWebService/doctorAvailableAtTimeRequest" message="tns:doctorAvailableAtTime"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/doctorAvailableAtTimeResponse" message="tns:doctorAvailableAtTimeResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/AMSWebService/doctorAvailableAtTime/Fault/ParseException"/>
</operation>
<operation name="createAppointmentEntity">
<input wsam:Action="http://ws.session.ejb/AMSWebService/createAppointmentEntityRequest" message="tns:createAppointmentEntity"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/createAppointmentEntityResponse" message="tns:createAppointmentEntityResponse"/>
<fault message="tns:CreateAppointmentException" name="CreateAppointmentException" wsam:Action="http://ws.session.ejb/AMSWebService/createAppointmentEntity/Fault/CreateAppointmentException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/AMSWebService/createAppointmentEntity/Fault/ParseException"/>
</operation>
<operation name="deleteAppointmentEntityById">
<input wsam:Action="http://ws.session.ejb/AMSWebService/deleteAppointmentEntityByIdRequest" message="tns:deleteAppointmentEntityById"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/deleteAppointmentEntityByIdResponse" message="tns:deleteAppointmentEntityByIdResponse"/>
<fault message="tns:DoctorRemoveAppointmentException" name="DoctorRemoveAppointmentException" wsam:Action="http://ws.session.ejb/AMSWebService/deleteAppointmentEntityById/Fault/DoctorRemoveAppointmentException"/>
<fault message="tns:PatientRemoveAppointmentException" name="PatientRemoveAppointmentException" wsam:Action="http://ws.session.ejb/AMSWebService/deleteAppointmentEntityById/Fault/PatientRemoveAppointmentException"/>
</operation>
<operation name="retrieveAppointmentById">
<input wsam:Action="http://ws.session.ejb/AMSWebService/retrieveAppointmentByIdRequest" message="tns:retrieveAppointmentById"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/retrieveAppointmentByIdResponse" message="tns:retrieveAppointmentByIdResponse"/>
<fault message="tns:AppointmentNotFoundException" name="AppointmentNotFoundException" wsam:Action="http://ws.session.ejb/AMSWebService/retrieveAppointmentById/Fault/AppointmentNotFoundException"/>
</operation>
<operation name="retrieveAppointmentsByPatient">
<input wsam:Action="http://ws.session.ejb/AMSWebService/retrieveAppointmentsByPatientRequest" message="tns:retrieveAppointmentsByPatient"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/retrieveAppointmentsByPatientResponse" message="tns:retrieveAppointmentsByPatientResponse"/>
<fault message="tns:PatientNotFoundException" name="PatientNotFoundException" wsam:Action="http://ws.session.ejb/AMSWebService/retrieveAppointmentsByPatient/Fault/PatientNotFoundException"/>
</operation>
<operation name="fetchAppointmentsDoctor">
<input wsam:Action="http://ws.session.ejb/AMSWebService/fetchAppointmentsDoctorRequest" message="tns:fetchAppointmentsDoctor"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/fetchAppointmentsDoctorResponse" message="tns:fetchAppointmentsDoctorResponse"/>
<fault message="tns:AppointmentNotFoundException" name="AppointmentNotFoundException" wsam:Action="http://ws.session.ejb/AMSWebService/fetchAppointmentsDoctor/Fault/AppointmentNotFoundException"/>
</operation>
</portType>
<binding name="AMSWebServicePortBinding" type="tns:AMSWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrievePatientByIc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientNotFoundException">
<soap:fault name="PatientNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createNewPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveDoctorEntityById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DoctorNotFoundException">
<soap:fault name="DoctorNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="doesPatientExistByIc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="patientLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
<operation name="patientAvailableAtTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllDoctorEntities">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="doctorAvailableAtTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="createAppointmentEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CreateAppointmentException">
<soap:fault name="CreateAppointmentException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="deleteAppointmentEntityById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DoctorRemoveAppointmentException">
<soap:fault name="DoctorRemoveAppointmentException" use="literal"/>
</fault>
<fault name="PatientRemoveAppointmentException">
<soap:fault name="PatientRemoveAppointmentException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAppointmentById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AppointmentNotFoundException">
<soap:fault name="AppointmentNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAppointmentsByPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientNotFoundException">
<soap:fault name="PatientNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="fetchAppointmentsDoctor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AppointmentNotFoundException">
<soap:fault name="AppointmentNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AMSWebService">
<port name="AMSWebServicePort" binding="tns:AMSWebServicePortBinding">
<soap:address location="http://localhost:8080/AMSWebService/AMSWebService"/>
</port>
</service>
</definitions>