AMSClient/src/conf/wsdl/localhost_8080/AMSWebService/AMSWebService 2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="AMSWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/AMSWebService/AMSWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="InvalidLoginException">
<part name="fault" element="tns:InvalidLoginException"/>
</message>
<message name="viewAppointments">
<part name="parameters" element="tns:viewAppointments"/>
</message>
<message name="viewAppointmentsResponse">
<part name="parameters" element="tns:viewAppointmentsResponse"/>
</message>
<message name="PatientNotFoundException">
<part name="fault" element="tns:PatientNotFoundException"/>
</message>
<message name="cancelAppointment">
<part name="parameters" element="tns:cancelAppointment"/>
</message>
<message name="cancelAppointmentResponse">
<part name="parameters" element="tns:cancelAppointmentResponse"/>
</message>
<message name="CreateAppointmentException">
<part name="fault" element="tns:CreateAppointmentException"/>
</message>
<message name="DoctorRemoveAppointmentException">
<part name="fault" element="tns:DoctorRemoveAppointmentException"/>
</message>
<message name="PatientRemoveAppointmentException">
<part name="fault" element="tns:PatientRemoveAppointmentException"/>
</message>
<message name="DeleteAppointmentExceptionWs">
<part name="fault" element="tns:DeleteAppointmentExceptionWs"/>
</message>
<message name="addAppointment">
<part name="parameters" element="tns:addAppointment"/>
</message>
<message name="addAppointmentResponse">
<part name="parameters" element="tns:addAppointmentResponse"/>
</message>
<portType name="AMSWebService">
<operation name="register">
<input wsam:Action="http://ws.session.ejb/AMSWebService/registerRequest" message="tns:register"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://ws.session.ejb/AMSWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/loginResponse" message="tns:loginResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/AMSWebService/login/Fault/InvalidLoginException"/>
</operation>
<operation name="viewAppointments">
<input wsam:Action="http://ws.session.ejb/AMSWebService/viewAppointmentsRequest" message="tns:viewAppointments"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/viewAppointmentsResponse" message="tns:viewAppointmentsResponse"/>
<fault message="tns:PatientNotFoundException" name="PatientNotFoundException" wsam:Action="http://ws.session.ejb/AMSWebService/viewAppointments/Fault/PatientNotFoundException"/>
</operation>
<operation name="cancelAppointment">
<input wsam:Action="http://ws.session.ejb/AMSWebService/cancelAppointmentRequest" message="tns:cancelAppointment"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/cancelAppointmentResponse" message="tns:cancelAppointmentResponse"/>
<fault message="tns:CreateAppointmentException" name="CreateAppointmentException" wsam:Action="http://ws.session.ejb/AMSWebService/cancelAppointment/Fault/CreateAppointmentException"/>
<fault message="tns:DoctorRemoveAppointmentException" name="DoctorRemoveAppointmentException" wsam:Action="http://ws.session.ejb/AMSWebService/cancelAppointment/Fault/DoctorRemoveAppointmentException"/>
<fault message="tns:PatientRemoveAppointmentException" name="PatientRemoveAppointmentException" wsam:Action="http://ws.session.ejb/AMSWebService/cancelAppointment/Fault/PatientRemoveAppointmentException"/>
<fault message="tns:DeleteAppointmentExceptionWs" name="DeleteAppointmentExceptionWs" wsam:Action="http://ws.session.ejb/AMSWebService/cancelAppointment/Fault/DeleteAppointmentExceptionWs"/>
</operation>
<operation name="addAppointment">
<input wsam:Action="http://ws.session.ejb/AMSWebService/addAppointmentRequest" message="tns:addAppointment"/>
<output wsam:Action="http://ws.session.ejb/AMSWebService/addAppointmentResponse" message="tns:addAppointmentResponse"/>
<fault message="tns:CreateAppointmentException" name="CreateAppointmentException" wsam:Action="http://ws.session.ejb/AMSWebService/addAppointment/Fault/CreateAppointmentException"/>
</operation>
</portType>
<binding name="AMSWebServicePortBinding" type="tns:AMSWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
<operation name="viewAppointments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientNotFoundException">
<soap:fault name="PatientNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="cancelAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CreateAppointmentException">
<soap:fault name="CreateAppointmentException" use="literal"/>
</fault>
<fault name="DoctorRemoveAppointmentException">
<soap:fault name="DoctorRemoveAppointmentException" use="literal"/>
</fault>
<fault name="PatientRemoveAppointmentException">
<soap:fault name="PatientRemoveAppointmentException" use="literal"/>
</fault>
<fault name="DeleteAppointmentExceptionWs">
<soap:fault name="DeleteAppointmentExceptionWs" use="literal"/>
</fault>
</operation>
<operation name="addAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CreateAppointmentException">
<soap:fault name="CreateAppointmentException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AMSWebService">
<port name="AMSWebServicePort" binding="tns:AMSWebServicePortBinding">
<soap:address location="http://localhost:8080/AMSWebService/AMSWebService"/>
</port>
</service>
</definitions>